@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>Movie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr><th>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null )</th></tr>
        }
</table>